.parent{
    width: 100vw;
    height: 100vh;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}


    form{
        background-color: white;
        padding: 50px;
        height:50%;
        width:50%;
        border-radius: 20px;
        margin:20%;
        text-align: center;
     
        
        }
    h2{
        text-align: center;
        font-size: 19px;
        text-transform: capitalize;
        }
    input{
        padding:10px;
        margin-bottom: 10px;
        border-radius:10px; 
        border-color: white;
        background-color:rgb(215, 209, 209);
        width: 30%;  
        }
    button{
        width:60%;
        background-color: aqua;
        padding: 10px;
        border-radius: 30px;
        border: 20px; 
        text-align: center;
        }
    p{
        opacity:0.5;
        text-align: center;
        margin-top: 5px;
        }
     b{
        color: red;
        opacity: 1;
     }