<div class="parent">
    <div class="left">
        
        <h4 routerLink="home">home</h4>
        <h4 routerLink="data-binding">data binding</h4>
        <h4 routerLink="calculator">calculator</h4>
        <h4 routerLink="rectangle">rectangle</h4>
        <h4 routerLink="directives">directives</h4>
        <h4 routerLink="registration">registration</h4>
        <h4 routerLink="wish">wish</h4>
       

        <h4 routerLink="cart">cart</h4>
        <h4 routerLink="cars">cars</h4>
        <h4 routerLink="phones">phones</h4>
        <h4 routerLink="users">users</h4>
        <h4 routerLink="vehicles">vehicles</h4>
        <h4 routerLink="products">products</h4>
        <h4 routerLink="memes">memes</h4>
        <h4 routerLink="accounts">accounts</h4>
        <h4 routerLink="activity">activity</h4>
        <h4 routerLink="create-user">create-user</h4>
        <h4 routerLink="create-student">create-student</h4>
        <h4 routerLink="create-form"> create-form</h4>
        <h4 routerLink="parent">parent</h4>
        <h4 routerLink="product">product</h4>
        <h4 routerLink="nav">nav</h4>
        <h4 routerLink="cartlist">cartlist</h4>
        <h4 routerLink="rating">ratings</h4>
        <h4 routerLink="about-ceo">about ceo</h4>
        <button  class="btn btn-danger" (click)="logout()">logout</button>
        
        <button class="btn btn-success" routerLink="gradeggg">gradeggg</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>  
