<p>cars works!</p>
<h1>cars</h1>
<label for="">company:</label>
<br>
<input type="radio" name="company" [(ngModel)]="company"  value="honda" >
<label for="">honda</label>
<input type="radio" name="company"  [(ngModel)]="company" value="kia">
<label for="">kia</label>
<input type="radio" name="company" [(ngModel)]="company" value="bmw">
<label for="">bmw</label>
<input type="radio" name="company"[(ngModel)]="company" value="audi" >
<label for="">audi</label>

<img src="/assests/honda.jfif" *ngIf="company=='honda'">
<img src="/assests/kia.jfif" *ngIf="company=='kia'">
<img src="/assests/bmwjfif.jfif" *ngIf="company=='bmw'">
<img src="/assests/audi.jfif" *ngIf="company=='audi'">
